<!DOCTYPE html>
<html>
<head>
	<title> Dashboard </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <style type="text/css">
    	body {
    		background-color: #eeeeee;
    	}
    </style>
</head>
<body>
    <nav class="grey darken-3">
        <div class="container">
            <div class="nav-wrapper">
              <a style="padding-left: 0px;" href="home.html" class="brand-logo">FCC</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="about.html">About</a></li>
                <li id="logout"><a href="index.html">Logout</a></li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col s3 m3">
                <div class="card">
                    <div class="card-image" align="center">
                        <img src="https://media.exhibia.com/users/facebook_KieuPhong.jpg" 
                        style="height: 200px; width: 200px;">
                    </div>
                    <div class="card-content">
                      <p> Welcome to your Dashboard, Username!</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Change Password</a>
                    </div>
                </div>
            </div>

            <div class="col s6 m6">
                <div class="card">
                    <div class="card-content">

                        <h4> Public Profile </h4>

                        <hr>
                        <form>
                            <div style="padding-top: 15px">
                                <h7><b> Name </b></h7>
                                <br>
                                <input type="text" name="name" style="width: 85%;" />
                            </div>

                            <div style="padding-top: 15px">
                                <h7><b> Email </b></h7>
                                <br>
                                <input type="text" name="email" style="width: 65%;" />
                            </div>

                            <div style="padding-top: 15px">
                                <h7 style="padding-bottom: 5px;"><b> Bio </b></h7>
                                <br>
                                    <textarea cols="40" data-input-max-length="160" name="bio" rows="20" style="width: 75%;">       
                                    </textarea>
                                </textarea>
                            </div>

                            <div style="padding-top: 15px">
                                <h7><b> Location </b></h7>
                                <br>
                                <input type="text" name="location" style="width: 50%;" />
                            </div>

                        </form>

                    </div>

                    <div class="card-action">
                        <div style="padding-top: 5px; padding-bottom: 3px">
                            <button type="submit" class="btn btn primary"> Update Changes </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">FCC Inc.</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="home.html">Home</a></li>
                      <li><a class="grey-text text-lighten-3" href="dashboard.html">Dashboard</a></li>
                      <li><a class="grey-text text-lighten-3" href="about.html">About Us</a></li>
                    </ul>
                </div>
            </div>
          </div>

        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>